In [1]:
import warnings
warnings.filterwarnings('ignore')

In [53]:
#%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import seaborn as sns

In [136]:
Target_Univ = ["Florida International University  Miami, FL", "Florida State University  Tallahassee, FL",
               "University of Central Florida  Orlando, FL",
               "University of Florida  Gainesville, FL",
               "University of South Florida-Main Campus  Tampa, FL"]

In [137]:
# Creating Formatting Function
def Top_Univ(df):
    df = df.loc[df['State'] == "FL"]
    df = df.loc[df['School Name'].str.replace(" ", "").isin([x.replace(" ", "") for x in Target_Univ])]
    #df = df.loc[df['School Name'].isin(Target_Univ)]
    df.insert (0, "School Abreviation", ["FIU", "FSU", "UCF", "UF", "USF"])
    df.index = [0,1,2,3,4]
    c1 = df.columns[-1]
    column_arrang = df.columns.insert(0, c1)
    df = df[column_arrang]
    df = df.loc[:,~df.columns.duplicated()]
    return df

In [143]:
#Formatting Florida SAT_ACT df
ACT_SAT = pd.DataFrame(pd.read_csv("data/SAT_ACT.csv"))

ACT_SAT = ACT_SAT.replace('-',0)
ACT_SAT.drop(ACT_SAT.head().columns[[0,1]], axis = 1, inplace = True)
for column in ACT_SAT.columns[2:-1] :
    ACT_SAT[column] = ACT_SAT[column].str.rstrip('(MT only), (CM O, (MTEN').str.replace(',', '').fillna(0).astype('int')
Avg_ACT_SAT = ACT_SAT.groupby('State').mean().reset_index()

Top_Univ(ACT_SAT)

,State,School Abreviation,School Name,Required to Apply,SAT 25% Percentile,SAT 75% Percentile,ACT 25% Percentile,ACT 75% Percentile
0,FL,FIU,"Florida International University Miami, FL",Required,1090,1260,65,80
1,FL,FSU,"Florida State University Tallahassee, FL",Required,1200,1350,76,90
2,FL,UCF,"University of Central Florida Orlando, FL",Required,1160,1340,71,86
3,FL,UF,"University of Florida Gainesville, FL",Required,1280,1440,79,96
4,FL,USF,University of South Florida-Main Campus Tampa...,Required,1170,1330,72,88

In [139]:
#Formatting Gradution Table
Graduation = pd.DataFrame(pd.read_csv("data/Graduation.csv"))
Graduation = Graduation.replace('-',0)
Graduation.drop(Graduation.columns[[0,1]], axis = 1, inplace = True)
for column in Graduation.columns[1:-1] :
    Graduation[column] = Graduation[column].str.strip('%').str.replace(',','').fillna(0).astype('float')
Top_Univ(Graduation)

,State,School Abreviation,School Name,Graduation Rate,Transfer-out Rate,Transfer-out Rate (BS degree),Retention Rate (Full-time),Retention Rate (Part-time)
0,FL,FIU,"Florida International University Miami, FL",57.0,19.0,1.0,88.0,77.0
1,FL,FSU,"Florida State University Tallahassee, FL",80.0,7.0,3.0,94.0,79.0
2,FL,UCF,"University of Central Florida Orlando, FL",70.0,7.0,4.0,90.0,80.0
3,FL,UF,"University of Florida Gainesville, FL",88.0,3.0,2.0,96.0,81.0
4,FL,USF,University of South Florida-Main Campus Tampa...,71.0,6.0,3.0,90.0,77.0

In [141]:
#Formatting Tuition df
Tuition = pd.DataFrame(pd.read_csv("data/Tuition.csv"))
Tuition = Tuition.drop(0)
Tuition = Tuition.replace('-',0)
Tuition.drop(Tuition.columns[[0,1]], axis = 1, inplace = True)
for column in Tuition.columns[1:-1] :
    Tuition[column] = Tuition[column].str.strip('$, ').str.replace(',','').fillna(0).astype('float')
Top_Univ(Tuition)

,State,School Abreviation,School Name,Tuition & Fees,Tuition & Fees.1,Cost Per Credit Hour,Cost Per Credit Hour.1,Books & Supplies,Living Costs,Living Costs.1
0,FL,FIU,"Florida International UniversityMiami, FL",6556.0,6546.0,206.0,177.0,18954.0,0.0,0.0
1,FL,FSU,"Florida State UniversityTallahassee, FL",5656.0,18786.0,189.0,627.0,1000.0,10666.0,10666.0
2,FL,UCF,"University of Central FloridaOrlando, FL",6368.0,22467.0,212.0,749.0,1200.0,10010.0,10010.0
3,FL,UF,"University of FloridaGainesville, FL",6381.0,28659.0,149.0,856.0,1030.0,10120.0,10120.0
4,FL,USF,"University of South Florida-Main CampusTampa, FL",6410.0,17324.0,211.0,575.0,1200.0,11610.0,9820.0

In [142]:
#Formatting Acceptance Table
Accept = pd.DataFrame(pd.read_csv("data/Acceptance.csv"))
Accept.drop(Accept.columns[[0,1]], axis = 1, inplace = True)
for column in Accept.columns[1:-1] :
    try:
        Accept[column] = [round(float(x.strip("$,%")),2) for x in Accept[column]]
    except:
        pass
Top_Univ(Accept)

,State,School Abreviation,School Name,Applicants,Admitted,Enrolled,Acceptance Rate,Admission Yield
0,FL,FIU,"Florida International University Miami, FL",19410,11452,4466,59.0,39.0
1,FL,FSU,"Florida State University Tallahassee, FL",50314,18616,6329,37.0,34.0
2,FL,UCF,"University of Central Florida Orlando, FL",41816,17981,7372,43.0,41.0
3,FL,UF,"University of Florida Gainesville, FL",38905,15173,6828,39.0,45.0
4,FL,USF,University of South Florida-Main Campus Tampa...,35043,15068,4520,43.0,30.0

In [144]:
#Formatting Acceptance Table
Student_p = pd.DataFrame(pd.read_csv("data/Students_pop.csv"))
Student_p.drop(Student_p.columns[[0,1]], axis = 1, inplace = True)
for column in Student_p.columns[1:-1] :
    try:
        Student_p[column] = [round(float(x.strip("$,%")),2) for x in Student_p[column]]
    except:
        pass
Top_Univ(Student_p)

,State,School Abreviation,School Name,Total,Undergraduate,Graduate
0,FL,FIU,"Florida International University Miami, FL",56718,"47,629(83.98%)","9,089(16.02%)"
1,FL,FSU,"Florida State University Tallahassee, FL",41362,"33,008(79.80%)","8,354(20.20%)"
2,FL,UCF,"University of Central Florida Orlando, FL",66059,"56,853(86.06%)","9,206(13.94%)"
3,FL,UF,"University of Florida Gainesville, FL",52669,"35,247(66.92%)","17,422(33.08%)"
4,FL,USF,University of South Florida-Main Campus Tampa...,43540,"31,772(72.97%)","11,768(27.03%)"