In [8]:
import pandas as pd
import numpy as np
df_list =[]
states = ["AL","AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA",
         "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD",
         "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ",
         "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC",
         "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
data = [r"acceptance-rate", r"tuition", r"graduation-rate", r"sat-act-scores", r"student-population"]
for st in states:
    for dt in data:
        url = f"https://www.collegetuitioncompare.com/compare/tables/?state={st}&factor={dt}"
        response = pd.read_html(url)
        df_list.append(response)
        
len(df_list)

255

In [9]:
Acceptance = []
Tuition = []
Graduation = []
SAT_ACT = []
Students_pop = []
for i in range (0,255,5):
    Acceptance.append(df_list[i][0])
    Tuition.append(df_list[i+1][0])
    Graduation.append(df_list[i+2][0])
    SAT_ACT.append(df_list[i+3][0])
    Students_pop.append(df_list[i+4][0])
for i in range(len(states)):
    Acceptance[i]["State"] = states[i]
    Tuition[i]["State"] = states[i]
    Graduation[i]["State"] = states[i]
    SAT_ACT[i]["State"] = states[i]
    Students_pop[i]["State"] = states[i]

In [10]:
Acceptance_df = pd.concat(Acceptance)
Tuition_df =  pd.concat(Tuition)
Graduation_df = pd.concat(Graduation)
SAT_ACT_df = pd.concat(SAT_ACT)
Students_pop_df = pd.concat(Students_pop)

In [11]:
Acceptance_df.to_csv("data/Acceptance.csv")
Tuition_df.to_csv("data/Tuition.csv")
Graduation_df.to_csv("data/Graduation.csv")
SAT_ACT_df.to_csv("data/SAT_ACT.csv")
Students_pop_df.to_csv("data/Students_pop.csv")